@page
@model modisette.Pages.Admin.ContentForm.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "./Shared/_Layout4";
}

<h1>Details</h1>
<hr />
<div class="container g-0">
    <h2>Course</h2>
    <hr />
    <dl class="row pt-2">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Code)
        </dd>
    </dl>
    <hr />
    <!-- Files -->
    <h2>Files</h2>
    <hr />
    <dl class="row pt-2">
        <dd class="col-sm-10">
            <ul>
                @foreach (var file in Model.Documents)
                {
                    <li>
                        <a href="@Url.Content("~/uploads/" + file.Document)" target="_blank">@file.Name</a>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.Code">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
