@page
@model modisette.Pages.Admin.ContentForm.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "./Shared/_Layout4";
}

<h1>Courses</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                <a asp-page="./Edit" asp-route-id="@item.Code">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Code">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-page="Create" class="btn btn-primary text-light">Create New</a>
</p>
